<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/metatags.ejs %>
    </head>
    <body>
        <div id="wrapper">

            <% include ../views/header.ejs %>

            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                                <li><a href="#">Servizi</a><i class="icon-angle-right"></i></li>
                                <li class="active">Bagnetto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="img/da_fb/bagnetto1.jpg" alt="" class="align-left" />
                        </div>
                        <div class="col-lg-6">
                            <h4>Bagnetto Cani e Gatti
                            <br>Per fare il bagno si parte sempre dalla conoscenza del tipo di pelo del nostro amico; una volta individuato lo shampoo adatto, il cane va sistemato in vasca, bagnato con acqua tiepida e insaponato con una spugnetta. Lasciamo agire i prodotti, usiamo una spazzola seguendo il verso del pelo e risciacquiamo; per l’asciugatura usiamo un asciugamano e poi phon non caldissimo e a dovuta distanza. Un pettine o spazzola ci aiutano ad aprire bene il pelo e ad accorciare i tempi dell’operazione. Se il bagnetto è stressante o ingestibile esistono fazzoletti imbevuti o shampoo a secco da usare a casa con moderazione.
                            </h4>					
                        </div>
                    </div>

                    <!-- divider -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="solidline">
                            </div>
                        </div>
                    </div>
                    <!-- end divider -->

                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Bagnetto Cani e Gatti
                            <br>Per fare il bagno si parte sempre dalla conoscenza del tipo di pelo del nostro amico; una volta individuato lo shampoo adatto, il cane va sistemato in vasca, bagnato con acqua tiepida e insaponato con una spugnetta. Lasciamo agire i prodotti, usiamo una spazzola seguendo il verso del pelo e risciacquiamo; per l’asciugatura usiamo un asciugamano e poi phon non caldissimo e a dovuta distanza. Un pettine o spazzola ci aiutano ad aprire bene il pelo e ad accorciare i tempi dell’operazione. Se il bagnetto è stressante o ingestibile esistono fazzoletti imbevuti o shampoo a secco da usare a casa con moderazione.
                            </h4>					
                        </div>
                        <div class="col-lg-6">
                            <img src="img/da_fb/doccina.png" alt="" class="align-left" />
                        </div>
                    </div>

                </div>
            </section>
            <% include ../views/footer.ejs %>
        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
        <% include ../views/scripts %>
    </body>
</html>