<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/metatags.ejs %>
    </head>
    <body>
        <% include ../views/header.ejs %>
        
        <div id="wrapper">
            
            DASHBOARD
            
            <% include ../views/footer.ejs %>
        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
        <% include ../views/scripts %>
    </body>
</html>