<footer class="footer">
	<div class="container">
		<div class="row">
            
            <div class="col-lg-4">
				<div class="widget">
					<strong>Salone Fido di Nicole Bottamedi</strong><br>
					 Via D.Alighieri 22/H<br>
					 398015 Mezzocorona (TN)
                    
                    <p>
						<i class="icon-phone"></i> 340 1744734
					</p>
				</div>
			</div>
            
            <div class="col-lg-4">
				<div class="widget">
					
				</div>
			</div>
			
			<div class="col-lg-4">
				
				<div class="widget align-center">
					<strong>Aperto dal Lunedì al Sabato</strong>
					<br>ore: 9.00 - 18.00
                    <br><br>
                    <h5><a href="<%=host%>/login">Login</a></h5>
				</div>
				
			</div>	
			
		</div>

	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="copyright">
						<p>
							<span>&copy; Marian Diaconu 2016 Tutti i diritti sono riservati. Email: marianalexandrudiaconu@gmail.com</span> 
						</p>
                        <!-- 
                            All links in the footer should remain intact. 
                            Licenseing information is available at: http://bootstraptaste.com/license/
                            You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Moderna
                        -->
					</div>
				</div>
			</div>
		</div> 
	</div>
	</footer>