<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/metatags.ejs %>
        <link href="css/gallery_style.css" rel="stylesheet" type="text/css">
        <script>var __adobewebfontsappname__="dreamweaver"</script>
        <script src="http://use.edgefonts.net/open-sans:n3:default.js" type="text/javascript"></script>
    </head>
<body>
    
    <div id="wrapper">
        <% include ../views/header.ejs %>

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">Galleria</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section id="content">
            <div class="container">
                               <div id="modal-preso" class="modal fade" role="dialog">
                  <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div id="close-wrapper">
                            <button id="close-btn" type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <img id="modal-image" src="" alt="Popup" class="img-responsive"/>
                         <div class="popup-caption">
                             <p>Caption goes here...</p>
                         </div>
                        <!-- Additional Buttons -->
                        <div id="prev-button"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="next-button"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="image-grid" class="container-fluid">
                  <div class="row">
                      <div class="col-lg-3 col-xs-6 custom-col">

                        <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                            <img src="img/gallery/photo-01.jpg" alt="Thumbnail" class="img-responsive"/>
                            <div class="caption">
                                <p>I'm Milo, a wee four-year-old Pomeranian livin' large in Northern Ireland.</p>
                            </div>
                        </a>
                      </div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-02.jpg" alt="Thumbnail" class="img-responsive"/>
                        <div class="caption">
                          <p>My paws are cold. Can we go home?</p>
                      </div>
                    </a> </div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-03.jpg" alt="Thumbnail" class="img-responsive"/>
                        <div class="caption">
                          <p>No, you come to me.</p>
                      </div>
                    </a></div>
                      <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-04.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                          <p>C'mon, I'll take all three of ya!</p>
                      </div>
                    </a></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-05.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>Into the arms of love.</p>
                    </div>
                      </a></div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-06.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>I jumped this high (really).</p>
                    </div>
                      </a></div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-07.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>What are you looking at?</p>
                    </div>
                      </a></div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-08.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>Epic cuteness.</p>
                    </div>
                      </a></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-09.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>I'm a beach boy at heart.</p>
                    </div>
                      </a></div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-10.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>We're not getting up yet, are we?</p>
                    </div>
                      </a></div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-11.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>'Chariots of Fur'!</p>
                    </div>
                      </a></div>
                    <div class="col-lg-3 col-xs-6 custom-col"> <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> <img src="img/gallery/photo-12.jpg" alt="Thumbnail" class="img-responsive"/>
                      <div class="caption">
                        <p>Enjoying an Irish summer.</p>
                    </div>
                      </a></div>
                  </div>
                </div>

 
            </div>
        </section>

        <% include ../views/footer.ejs %>

    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script src="js/portfolio/jquery.quicksand.js"></script>
    <script src="js/portfolio/setting.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    
    <script src="js/gallery_v2.js"></script>

</body>
</html>