<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../views/metatags.ejs %>
        
    </head>
<body>
    
    <script src="galleria/galleria-1.5.7.min.js"></script>
    
    <!-- ======================= Load Theme =========================== -->
    <script>
        (function() { 
            Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
            Galleria.run('.galleria', {
                transition: 'fade',
                responsive: true,
                trueFullscreen: true,
                popupLinks: true,
                showInfo: true
            });
        }());
    </script>
    
    <div id="wrapper">
        <% include ../views/header.ejs %>

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <section id="content">


                                <script>

                                </script>



                                <div class="col-md-12">
                                    
                                    <div class="galleria align-center paragraphs">
                                        <img src="img/galleria/galleria1.jpeg" data-title="Another title" data-description="My <i>HTML</i> description">
                                        <img src="img/galleria/galleria2.jpeg">
                                        <img src="img/galleria/galleria3.jpeg">
                                        <img src="img/galleria/galleria4.jpeg">
                                        <img src="img/galleria/galleria5.jpeg">
                                        <img src="img/galleria/galleria6.jpeg">
                                        <img src="img/galleria/galleria7.jpeg">
                                        <img src="img/galleria/galleria8.jpeg">
                                        <img src="img/galleria/galleria9.jpeg">
                                        <img src="img/galleria/galleria10.jpeg">
                                        <img src="img/galleria/galleria12.jpeg">
                                        <img src="img/galleria/galleria13.jpeg">
                                        <img src="img/galleria/galleria14.jpeg">
                                        <img src="img/galleria/galleria15.jpeg">
                                        <img src="img/galleria/galleria16.jpeg">
                                        <img src="img/galleria/galleria17.jpeg">
                                        <img src="img/galleria/galleria18.jpeg">
                                        <img src="img/galleria/galleria19.jpeg">
                                        <img src="img/galleria/galleria20.jpeg">
                                        <img src="img/galleria/galleria21.jpeg">
                                        <img src="img/galleria/galleria22.jpeg">
                                        <img src="img/galleria/galleria23.jpeg">
                                        <img src="img/galleria/galleria24.jpeg">
                                        <img src="img/galleria/galleria25.jpeg">
                                        <img src="img/galleria/galleria26.jpeg">
                                        <img src="img/galleria/galleria27.jpeg">
                                        <img src="img/galleria/galleria28.jpeg">
                                        <img src="img/galleria/galleria29.jpeg">
                                        <img src="img/galleria/galleria30.jpeg">
                                        <img src="img/galleria/galleria31.jpeg">
                                        <img src="img/galleria/galleria32.jpeg">
                                        <img src="img/galleria/galleria33.jpeg">
                                        <img src="img/galleria/galleria34.jpeg">
                                        <img src="img/galleria/galleria35.jpeg">
                                        <img src="img/galleria/galleria36.jpeg">
                                        <img src="img/galleria/galleria37.jpeg">
                                        <img src="img/galleria/galleria38.jpeg">
                                    </div>

                                </div>

                                <!-- 
                                <div class="col-md-4">
                                    <h4> Galleria Fotografica</h4><br>
                                    <p>
                                        Qui Vi mostriamo la nostra Nicole all opera con le diverse razze di animali.

                                        Il nostro lavoro é quello che ci rende felici quindi vedere felici i cuccioli é il nostro obiettivo, ecco a voi una collezione di scatti aggiornati con quello che facciamo e come lo facciamo. 
                                    </p>
                                </div>
                                -->

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ../views/footer.ejs %>

    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script src="js/portfolio/jquery.quicksand.js"></script>
    <script src="js/portfolio/setting.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    

</body>
</html>