    <!DOCTYPE html>
    <html lang="en">
        <head>
            <% include ../views/metatags.ejs %>
            <link href="css/gallery_style.css" rel="stylesheet" type="text/css">
            <script>var __adobewebfontsappname__="dreamweaver"</script>
            <script src="http://use.edgefonts.net/open-sans:n3:default.js" type="text/javascript"></script>
        </head>
    <body>

        <div id="wrapper">
            <% include ../views/header.ejs %>

            <section id="inner-headline">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                                <li class="active">Galleria Foto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <section id="content">
                <div class="container">
                    <div id="modal-preso" class="modal fade" role="dialog">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div id="close-wrapper">
                                <button id="close-btn" type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <img id="modal-image" src="" alt="Popup" class="img-responsive"/>
                             <div class="popup-caption">
                                 <p>Caption goes here...</p>
                             </div>
                            <!-- Additional Buttons -->
                            <div id="prev-button"><span class="glyphicon glyphicon-chevron-left"></span></div>
                            <div id="next-button"><span class="glyphicon glyphicon-chevron-right"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="image-grid" class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria1.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria2.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria3.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria4.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria5.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria6.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria7.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria8.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria9.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria10.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria11.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria12.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria13.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria14.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria15.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria16.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria17.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria18.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria19.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria20.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria21.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria22.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria23.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria24.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria25.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria26.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria27.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria28.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria29.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria30.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria31.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria32.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria33.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria34.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria35.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria36.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-3 col-xs-6 custom-col">

                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button">
                                    <img id="img-resized" src="img/galleria/galleria37.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-6 custom-col"> 
                                <a href="#" data-toggle="modal" data-target="#modal-preso" class="img-button"> 
                                    <img id="img-resized" src="img/galleria/galleria38.jpeg" alt="Thumbnail" class="img-responsive"/>
                                    <div class="caption">
                                        <p></p>
                                    </div>
                                </a> 
                            </div>
                            
                        </div>
                        
                      
                    </div>


                </div>
            </section>

            <% include ../views/footer.ejs %>

        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
        <!-- javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.fancybox.pack.js"></script>
        <script src="js/jquery.fancybox-media.js"></script>
        <script src="js/google-code-prettify/prettify.js"></script>
        <script src="js/portfolio/jquery.quicksand.js"></script>
        <script src="js/portfolio/setting.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/animate.js"></script>
        <script src="js/custom.js"></script>

        <script src="js/gallery_v2.js"></script>

    </body>
    </html>