<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/metatags.ejs %>
</head>
<body>
    <div id="wrapper">
        <% include ../views/header.ejs %>
        
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">Dove Siamo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="content">
            <div class="map">
            <br>
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAuDRoGHiVi6eO5BMNCY4LdSsDECifxbsU&q=SALONE+FIDO+MEZZOCORONA+(TN)+di+Nicole+Bottamedi+TOELETTATURA">
                </iframe>
            </div>

            <div class="container">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <h3>
                            Via Dante Alighieri 22/H <br> 398015 Mezzocorona (TN) <br> 340-1744734 <br> email@domainname.it
                        </h3>
                    </div>

                    <div class="col-md-6">
                        <h3>
                            Orario <br> Dal Lunedì al Sabato <br> ore: 9.00-18.00
                        </h3>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Oppure puoi inviarci un EMAIL <strong>completando i campi qui sotto</strong></h4>
                        <form id="contactform">
                            <div id="sendmessage">
                                 Il tuo messaggio è stato inviato! Grazie per averci contattato!
                            </div>

                            <div class="row">
                                <div class="col-lg-6 field">
                                    <input type="text" id="name" placeholder="* Nome e Cognome" data-rule="maxlen:4" data-msg="Inserisci almeno 4 caratteri" />
                                    <div class="validation">
                                    </div>
                                </div>
                                <div class="col-lg-6 field">
                                    <input type="text" id="email" placeholder="* Indirizzo Email" data-rule="email" data-msg="Inserisci almeno 4 caratteri" />
                                    <div class="validation">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 field">
                                    <input type="text" id="subject" placeholder="* Titolo Messaggio" data-rule="maxlen:4" data-msg="Inserisci almeno 4 caratteri" />
                                    <div class="validation">
                                    </div>
                                </div>
                                <div class="col-lg-6 field">
                                    <input type="text" id="cellphone" placeholder="* Tuo numero di Telefono" data-rule="maxlen:4" data-msg="Inserisci almeno 4 caratteri" />
                                    <div class="validation">
                                    </div>
                                </div>
                                <div class="col-lg-12 margintop10 field">
                                    <textarea rows="12" id="message" class="input-block-level" placeholder="* Scrivi qui il tuo messaggio..." data-rule="required" data-msg="Scrivi qualcosa"></textarea>
                                    <div class="validation">
                                    </div>
                                    <p>
                                        <button id="btnSendEmail" onclick="sendEmail()" class="btn btn-theme margintop10 pull-left">Submit message</button>
                                        <span class="pull-right margintop20">* Riempi tutti i campi per favore!</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <% include ../views/footer.ejs %>
    </div>

    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <% include ../views/scripts.ejs %>
    <script src="js/sendEmail.js"></script>
    
</body>
</html>