<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="logo-style"><a href="<%=host%>/">Salone Fido</a></h1>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<%=host%>/" >Home</a></li>
                        <li><a href="<%=host%>/gallery" >Galleria Foto</a></li>
                        <li><a href="<%=host%>/get_in_touch" >Come Trovarci</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->