<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/metatags.ejs %>
</head>


<body>
<div id="wrapper">
    
    <% include ../views/header.ejs %>
	
	<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/slides/1.jpg" alt="" />
              </li>
              <li>
                <img src="img/slides/2.jpg" alt="" />
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	
	</section>

	<!--contenuto pagina-->
	
	<section id="content">	
		<div class="container">			
			<div class="row">
                        <div class="row" style="text-align: -webkit-center;">
                            <h2>Il meglio per i nostri amici a 4 zampe</h2>
                                Oltre all'amore, i nostri servizi per la toelettatura per cani, gatti e non solo sono: 
                                <br>
                                <ul style="display:inline-block;vertical-align:middle;">
                                    <li><div class="my-bullet">D</div>Toelettatura per cuccioli</li>
                                    <li><div class="my-bullet">D</div>Bagni curativi</li>
                                    <li><div class="my-bullet">D</div>Tagli a forbice e a macchinetta</li>
                                    <li><div class="my-bullet">D</div>Toelettatura per gatti</li>
                                </ul>
                            <br>
                    </div>
                
                <div class="oval-thought-border">
                    CHI SONO??
                    SEMPLICEMENTE UNA PERSONA CHE AMA 
                    GLI ANIMALI PIU DI TUTTO

                        ...non esitate a chiamarci anche per un semplice taglio delle unghiette.
                </div>

                <div class="row">
                    <img src="img/nicky_cover.png">
                </div>
                
                
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="box" onclick="window.open('https://www.facebook.com/Salone-Fido-di-Bottamedi-Nicole-373238775562/?ref=br_rs')">
							<div id="gallery-photo-box" class="box-gray aligncenter">
								<h4>Visitaci su Facebook</h4>
								<div class="icon">
									<i class="fa fa-facebook fa-3x"></i>
								</div>
								<p>
									Sulla nostra pagina abbiamo sempre nuovi aggiornamenti sul mondo dei piccoli a 4 zampe e non solo
								</p>
							</div>
							
							<div class="box-bottom">
								<a href="https://www.facebook.com/Salone-Fido-di-Bottamedi-Nicole-373238775562/?ref=br_rs">Facebook</a>
							</div>
						</div>
                    </div>
                    <div class="col-sm-5">
                        <div class="box" onClick="parent.location='portfolio.html'">
							<div id="gallery-photo-box" class="box-gray aligncenter">
								<h4>Guarda le nostre Foto</h4>
								<div class="icon">
									<i class="fa font-icon-social-photobucket fa-3x"></i>
								</div>
								<p>
									Nella nostra galleria puoi trovare numerose foto di noi ed i piccoli
								</p>
							</div>
							
							<div class="box-bottom" href="portfoglio.html">
								<a href="portfolio.html">Gallery</a>
							</div>
						</div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

			</div>
			
		</div>
	</section>
	
	<% include ../views/footer.ejs %>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <% include ../views/scripts.ejs %>
</body>
</html>