<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/metatags.ejs %>
</head>


<body>
<div id="wrapper">
    
    <% include ../views/header.ejs %>
	
	<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="img/slides/1.jpg" alt="" />
              </li>
              <li>
                <img src="img/slides/2.jpg" alt="" />
              </li>
              <li>
                <img src="img/slides/3.jpg" alt="" />
              </li>
            </ul>
        </div>
		
		<div class="row ">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text align-center">
						<h3><span>Salone Fido</span> - Servizi di toelettatura per i tuoi amici a 4 zampe</h3>
					</div>
				</div>
			</div>
		</div>
	<!-- end slider -->
			</div>
		</div>
	</div>	
	</section>

	<!--contenuto pagina-->
	
	<section id="content">	
		<div class="container">			
			<div class="row">
				<div class="col-lg-9">
					
					<div class="row">
						<h4>Benvenuti sul nostro sito Web </h4>
						<p>
							<strong>Lorem ipsum dolor sit amet</strong>, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
						</p>
						<br>
					</div>
				
					<div class="row">
						<div class="col-lg-4">
							<img src="img/carta_visita.jpg" alt="" class="align-left" />
						</div>
						
						<div class="col-lg-8">
							<p>
								 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et eabum. Stet clita
							</p>
						</div>
					</div>
					<br>
					
					<div class="row">
						<div class="col-lg-6">
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
							</p>
							<br>
							<a href="#" class="btn btn-theme">btn theme</a>
						</div>
						
						<div class="col-lg-6">
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
							</p>
							<br>
							<a href="#" class="btn btn-theme">btn theme</a>
						</div>
					</div>
					<br>
				
					
					
				</div>
				
				
				<div class="col-lg-3">
					<div class="row">
				
						<div class="box" onclick="window.open('https://www.facebook.com/Salone-Fido-di-Bottamedi-Nicole-373238775562/?ref=br_rs')">
							<div class="box-gray aligncenter">
								<h4>Visitaci su Facebook</h4>
								<div class="icon">
									<i class="fa fa-facebook fa-3x"></i>
								</div>
								<p>
									Sulla nostra pagina abbiamo sempre nuovi aggiornamenti sul mondo dei piccoli a 4 zampe e non solo
								</p>
							</div>
							
							<div class="box-bottom">
								<a href="https://www.facebook.com/Salone-Fido-di-Bottamedi-Nicole-373238775562/?ref=br_rs">Fackebook</a>
							</div>
						</div>
					
					</div>
					
					<div class="row">
						<div class="box" onClick="parent.location='portfolio.html'">
							<div class="box-gray aligncenter">
								<h4>Guarda le nostre Foto</h4>
								<div class="icon">
									<i class="fa font-icon-social-photobucket fa-3x"></i>
								</div>
								<p>
									Nella nostra galleria puoi trovare numerose foto di noi ed i piccoli
								</p>
							</div>
							
							<div class="box-bottom" href="portfoglio.html">
								<a href="portfolio.html">Gallery</a>
							</div>
						</div>
					</div>
					
			</div>

			</div>


			
		</div>
	</section>
	
	<% include ../views/footer.ejs %>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <% include ../views/scripts.ejs %>
</body>
</html>